div.header
{
    background-image: url(/images/gradient.png);
    background-repeat: repeat-y;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}
img.header
{
    float: left;
    width: 100px;
}
