body
{
    color:#000b47;
}
a
{
    text-decoration: none;
}
a:link, a:visited
{
    color: #8085a4;
}
div
{
    margin-left: auto;
    margin-right: auto;
}
/* header */
div#header
{
    background-image: url(/images/gradient.png);
    background-repeat: repeat-y;
    width: 640px;
}
#header h1
{
    text-align: left;
}
#header h2
{
    text-align: right;
    color: white;
}
/* nav bar */
div#nav
{
    width: 400px;
}
#nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#nav li
{
    float: left;
}
#nav a
{
    font-size: 1.5em;
    display: block;
    width: 100px;
}
div#container
{
    width: 640px;
}
div#footer
{
    width: 400px;
}
